.snap
.resources
.classpath
.project
.xml
.csv
.metadata/.plugins/org.eclipse.core.resources/.history/a1/60ebb4060fae001415def1eebed3c259
.log
.gitignore
.zip
*.index

*.zip

*.zip

.metadata/.log

.metadata/.log

*.index

.metadata/.plugins/org.eclipse.core.resources/.history/

.metadata/.plugins/org.eclipse.core.resources/.history/c7/604ba40f11ae001415def1eebed3c259

*.zip
